.main-head {
  background-image: url(../img/background-1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155vh;
  margin: 0;
  padding: 0;
}

.background {
  padding-top: 10rem;
  text-align: center;
  color: aliceblue;
}

.background h1, h3 {
  margin: 0.3rem;
}

.btn {
  margin: 1.8rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #a3b18a;
  color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 768px) {
  .main-head {
    height: auto;
    padding: 5rem 1rem;
  }

  .background {
    padding-top: 5rem;
  }

  .btn {
    padding: 0.7rem 2rem;
    font-size: 0.9rem;
  }
}