.blog-container {
  display: flex;
  justify-content: center;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  gap: 2rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 3.2rem 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
}

.blog-content img {
  height: 300px;
  object-fit: cover;
}

.blog-title {
  padding: 2rem 0;
}

.blog-btn {
  padding: 0.7rem 2rem;
  margin: 0.5rem;
  background-color: #606c38;
  color: aliceblue;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-btn:hover {
  background-color: #a3b18a;
  color: aliceblue;
}

@media (max-width: 768px) {
  .blog {
    flex-direction: column;
    align-items: center;
  }

  .blog-content {
    width: 80%;
    margin-bottom: 2rem;
  }
}

.content-section {
}

.content-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post {
  margin: 2.3rem 4rem;
}

.post img {
  width: 650px;
  height: 400px;
  transition: all 1s;
}

.post img:hover {
  transform: scale(1.09);
}

.post-content-title {
  padding: 20px 0;
  font-size: 28px;
  font-weight: 600;
  color: #403d39;
}

.post-content {
  padding: 1rem 0;
  font-size: 18px;
  color: #696a67;
}

.post-btn {
  padding: 0.7rem 2rem;
  background-color: #606c38;
  color: aliceblue;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-btn:hover {
  background-color: #a3b18a;
  color: aliceblue;
}

.sidebar {
}

.category {
  line-height: 1.5em;
  color: #696a67;
}

.category h2 {
  margin-bottom: 1rem;
}

.category-list {
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #a3b18a;
  color: #403d39;
}

.category-button {
  color: #403d39;
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.list-item:hover {
  background-color: #dad7cd;
}

.trend {
}

.trend-post-container {
}

.post-trend {
  margin: 2.3rem;
}

.post-trend img {
  width: 250px;
  height: 200px;
  transition: all 1s;
}

.post-trend img:hover {
  transform: scale(1.09);
}

.trend-title {
  padding: 14px 0;
  font-size: 22px;
  font-weight: 600;
  color: #403d39;
}

@media (max-width: 1040px) {
  .content-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}